| <center>Desafío<center> | <center>Alumno<center> | 
| :---: | :---: | 
| `03` | Pérez, Gastón |

# Punto 01
### Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

Previo a comenzar con el desarrollo, importo las librerías necesarias para el mismo.

In [173]:
import numpy as np
import pandas as pd

Luego, importa el dataset; que en este caso está contenido en mi unidad local.

In [174]:
df_juegosOlimpicos = pd.read_csv("Summer-Olympic-medals-1976-to-2008.csv")
df_juegosOlimpicos.dropna(subset=["Year"], inplace=True)  #elimino registros nulos
#df_juegosOlimpicos.set_index("Year", inplace = True)  #cambio el index por la columna year
df_juegosOlimpicos

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [175]:
df_juegosOlimpicos["Year"] = pd.to_datetime(df_juegosOlimpicos["Year"], format='%Y')
df_juegosOlimpicos

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

**Cambio el índice por el año de los juegos olímpicos**

In [176]:
pd.DatetimeIndex(df_juegosOlimpicos["Year"]).year
indexYear = pd.DatetimeIndex(df_juegosOlimpicos["Year"]).year
indexYear

Int64Index([1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976,
            ...
            2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008],
           dtype='int64', name='Year', length=15316)

In [179]:
df_juegosOlimpicos

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008-01-01,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

Para verificar que funciona, podemos filtrar al país que ganó más medallas desde el año 1980.

In [191]:
medals = pd.Series(df_juegosOlimpicos['Country'].values,index=indexYear)
filtro = (Serie_medallas.index >= 1980)
medals[filtro]

Year
1980    East Germany
1980    East Germany
1980    Soviet Union
1980    Soviet Union
1980          Mexico
            ...
2008          France
2008         Georgia
2008      Azerbaijan
2008          France
2008            Cuba
Length: 14011, dtype: object

# Punto 2
### Separo nombres de apellidos en dos columnas distintas usando la coma como separador

In [192]:
df_juegosOlimpicos[["Nombre","Apellido"]] = df_juegosOlimpicos["Athlete"].str.split(",",1,expand=True)
df_juegosOlimpicos.head()   #verifico que separé correctamente los nombres y apellidos

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Nombre,Apellido
Year,,,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver,K�HLER,Christa
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar

# Punto 03
### 1. Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
### 2. Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

Creo una Dataframe que contenga la cantidad de medallas por país.

In [201]:
medals = df_juegosOlimpicos.groupby("Country")["Medal"].count()
df_medals = pd.DataFrame(medals)
df_medals

                 Medal
Country
Afghanistan          1
Algeria             14
Argentina          153
Armenia              9
Australia          798
...                ...
Virgin Islands*      1
West Germany       345
Yugoslavia         278
Zambia               2
Zimbabwe            23

[127 rows x 1 columns]

Accedo a partir de la serie creada, a aquel país que obtuvo más medallas (y la cantidad de las mismas).

In [220]:
medalsMax = medals.idxmax()
countMedals = medals.get(medalsMax) 

print("El país que más medallas ganó fue '"+str(medalsMax)+"'. El total de medallas que obtuvo fue =",countMedals)

El país que más medallas ganó fue 'United States'. El total de medallas que obtuvo fue = 1992

# Punto 4
### Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [228]:
menYears = df_juegosOlimpicos.groupby(["Year", "Gender"]).filter(lambda x: any(x['Gender'] == 'Men'))
menYears = menYears.groupby("Year")['Medal'].count()
df_mens = pd.DataFrame(menYears)
df_mens

            Medal
Year
1976-01-01    924
1980-01-01    958
1984-01-01    973
1988-01-01   1011
1992-01-01   1105
1996-01-01   1082
2000-01-01   1126
2004-01-01   1099
2008-01-01   1110